body{
    background-color: #000;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  background-color: #555;
}

.display {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 2em;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  width: 100%;
}

.btn {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5em;
  height: 50px;
  margin: 5px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.btn-hide {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5em;
  height: 50px;
  margin: 5px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.btn.operator {
  background-color: #f77;
}

.btn.clear {
  background-color: #777;
}

.btn.equals {
  background-color: #77f;
}

.btn:hover {
  background-color: #555;
  cursor: pointer;
}

.btn:active {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}
